{% extends "layout.html" %}
{% block title %}Add references{% endblock %}

{% block body %}
<form action="/add" method="POST">
    <h2>Lisää artikkeliviite</h2>
    <input type="hidden" name="type" value="article"/>
    Viiteavain: <input type="text" name="refname"/></br>
    Kirjailija: <input type="text" name="author"/></br>
    Otsikko: <input type="text" name="title"/></br>
    Julkaisuvuosi: <input type="number" name="year"/></br>
    Julkaisija: <input type="text" name="publisher"/></br>
    <button type="submit">Lisää</button>
</form>
{% endblock %}