{% extends "layout.html" %}
{% block title %}Add tags to reference{% endblock %}
{% block body %}

<div class="m-3 w-25">
    <form action="/add_tags" method="POST">
        <h2>Add tags to reference</h2>
        <div id="tagform" class="tagform">
            <input id="tag_id" type="text" name="tag_name" size="60" minlength="3" placeholder="Tag" required>
        </div>
        <br>
        <div class="tagform">
            <button onclick="add()" class="btn btn-primary">Lisää</button>
            <button onclick="remove()" class="btn btn-danger">Poista</button>
        </div>
        <br>
        <div>
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
        <script src="{{url_for('static', filename='script.js')}}"></script>
    </form>
</div>

{% endblock %}
