{% extends "layout.html" %}
{% block title %}Miniproject{% endblock %}

{% block body %}
<a href="add">Lisää uusi viite</a>

<ul>
    {% for ref in refs|sort(attribute='author')%}
    <li> <hidden {{  ref.id  }} ></hidden>
        <strong>Tyyppi:</strong> {{ ref.ref_type }}<br>
        <strong>Otsikko:</strong> {{ ref.title }}<br>
        <strong>Kirjoittaja:</strong> {{ ref.author }}<br>
        <strong>Julkaisija:</strong> {{ ref.publisher }}<br>
        <strong>Julkaisuvuosi:</strong> {{ ref.year }}<br>
        <br>
        <form action="/{{ ref.id }}/delete_ref" method="post">
            <input id="delete_button" type="submit" onclick="return confirm('HUOM! Haluatko varmasti poistaa viitteen tietokannasta?')" value="Poista">
        </form>
        <br>
    </li>
    {% endfor %}
</ul>

<h2>BibTeX</h2>
<textarea style="width:500px; height:300px" id="bibtex" readonly>{{ bibtex }}</textarea><br>
<script>
    function copy_bibtex() {
        navigator.clipboard.writeText(document.getElementById('bibtex').textContent)
    }
</script>
<button onclick="copy_bibtex()">Copy</button>

<h2>Nuke</h2>
<form action="/delete_all" method="post">
    <input id="delete_button" type="submit" onclick="return confirm('HUOM! Haluatko varmasti poistaa kaikki viitteet tietokannasta?')" value="NUKE">
</form>
{% endblock %}
