{% extends "layout.html" %}
{% block title %}Miniproject{% endblock %}

{% block body %}
<div class="container row">
    <div class="col p-2">
        <h2>References</h2>
        <ul>
            {% for ref in refs|sort(attribute='author')%}
            <li><hidden {{ ref.id }}></hidden>
                <strong>Type:</strong> {{ ref.ref_type }}<br>
                <strong>Reference name:</strong> {{ ref.ref_name }}<br>
            
                {% set ref_fields = [
                    ("Title", ref.title),
                    ("Author", ref.author),
                    ("Year", ref.year),
                    ("Journal", ref.journal),
                    ("Pages", ref.pages),
                    ("Month", ref.month),
                    ("DOI", ref.doi),
                    ("Note", ref.note),
                    ("Key", ref.key),
                    ("Publisher", ref.publisher),
                    ("Series", ref.series),
                    ("Address", ref.address),
                    ("Edition", ref.edition),
                    ("URL", ref.url),
                    ("Book Title", ref.booktitle),
                    ("Editor", ref.editor),
                    ("Organization", ref.organization)
                ] %}
            
                {% for label, value in ref_fields %}
                    {% if value %}<strong>{{ label }}:</strong> {{ value }}<br>{% endif %}
                {% endfor %}

                <a href="{{ ref.id }}/add_tags" class="btn btn-primary m-1">Add a tag</a>
            
                <form action="/{{ ref.id }}/delete_ref" method="post">
                    <input id="delete{{ref.ref_name}}" type="submit" class="btn btn-sm btn-warning" onclick="return confirm('Are you sure you want to delete the reference from the database?')" value="Delete">
                </form>
                <br>
            </li>
            {% endfor %}
        </ul>

        <a href="add" class="btn btn-primary m-1">Add a new reference</a>
        <form class="m-1" action="/delete_all" method="post">
            <input class="btn btn-danger" type="submit" onclick="return confirm('NOTE! Are you sure you want to delete all references from the database?')" value="Delete all">
        </form>
    </div>

    <div class="col p-2">
        <h2>BibTeX</h2>
        <textarea style="width:500px; height:300px" id="bibtex" class="h-100" readonly>{{ bibtex }}</textarea><br>
        <script>
            function copy_bibtex() {
                navigator.clipboard.writeText(document.getElementById("bibtex").value);
            }
        </script>
        <button onclick="copy_bibtex()" class="btn btn-primary">Copy</button>    
    </div>
</div>
{% endblock %}
